<!DOCTYPE html>
<html ng-app="app" ng-controller="AppCtrl">

<head>
    <title ng-bind="pageTitle"></title>

    <!-- compiled CSS -->
    <% styles.forEach( function ( file ) { %>
        <link rel="stylesheet" type="text/css" href="<%= file %>" />
        <% }); %>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]><% externals.forEach( function ( file ) { %>
    <script type="text/javascript" src="<%= file %>"></script><% }); %>
    <![endif]-->
</head>

<body>

    <div ng-if="!isPageLoaded" class="content-loading">
        <img src='https://d1fnpdk9svbocx.cloudfront.net/img/ajax_loader_gray_64.gif'>
    </div>

    <div ng-show="isPageLoaded" ui-view></div>

    <!-- compiled JavaScript -->
    <% scripts.forEach( function ( file ) { %>
        <script type="text/javascript" src="<%= file %><%= releasedDate %>"></script>
        <% }); %>
</body>

</html>
